.sideBarCard {
  height: 130px;
  /* border-top: 1px solid yellow; */
  padding-top: 10px;
}

.itemFlex {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 3px 4px 27px -8px black;
}

.imgCard {
  width: 100%;
  height: 90%;
  padding-top: 10px;
}

.imageSidebar {
  /* border: 1px solid red; */
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: auto;
}

.descSidebar {
  padding-top: 24px;
  line-height: 25px;
  width: 200px !important;
}

.closeIcon {
  color: rgb(58, 57, 57);
  margin-left: 31px;
}

.closeIcon:hover {
  color: white;
}

.price {
  color: rgb(234, 191, 0);
}

.buttons {
  margin-top: 30px;
}
.add {
  background-color: rgb(29, 29, 29);
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
.minus {
  background-color: rgb(29, 29, 29);
  border: 1px solid transparent;
  color: white;
  cursor: pointer;
}
