.showCase {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 1fr 4fr; */
}
.mobileSizes {
  display: none;
}

.filterSize {
  min-width: 220px;
}
.Size {
  min-width: 220px;
}
@media screen and (max-width: 998px) {
  .Size {
    display: none;
  }
  .mobileSizes {
    margin-top: -40px;
    display: block;
    display: flex;
    justify-content: center;
  }
  .mobileproduct {
    margin-top: 60px;
    margin-left: auto;
  }
}
