.showCase {
  display: flex;
  /* display: grid; */
  /* grid-template-columns: 1fr 4fr; */
}
.mobileSizes {
  display: none;
}
@media screen and (max-width: 998px) {
  .Size {
    display: none;
  }
  .mobileSizes {
    display: block;
    display: flex;
    justify-content: center;
  }
}
